
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #ededed;
}
.comment .comment-arrow {
  border-color: #292929;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #292929;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
  background-color: #313131;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2f2f2f), to(#151515));
  background-image: -moz-linear-gradient(-90deg, #2f2f2f, #151515);
}
a {
  color: #ff7011;
}
a:hover,
a:focus {
  color: #ff9911;
}
a:active {
  color: #ff9911;
}
.sidebar .block {
  background-color: #151515;
  border-color: #393939;
}
#page-wrapper,
#footer-wrapper {
  background: #151515;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #fffeff;
}
